<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Portfolio</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/OwlCarousel/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/OwlCarousel/docs/assets/owlcarousel/assets/owl.theme.default.css">


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
    <script>


        // Fallback to loading jQuery from a local path if the CDN is unavailable
        (window.jQuery || document.write('<script src="~/js/jquery-3.4.1.min.js"><\/script>'));
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        // Fallback to loading jQuery from a local path if the CDN is unavailable
        (window.jQuery || document.write('<script src="~/js/jquery-ui-1.12.1/jquery-ui.min.js"><\/script>'));
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/OwlCarousel/docs/assets/owlcarousel/owl.carousel.min.js"></script>

    <script>
    //gets the html path file path
        var path = window.location.pathname;
    //extracts only the page name
        var page = path.split("/").pop();

    //checks to see if page is calculator. Do not want effect on server side calculator
        if (page !== "Calculator") {
        
            $(document).ready(function () {
        //get body to invisible and fades in at 500 ms
        $('body').css('display', 'none').fadeIn(800);
         });


        }


            //Jquery pop over function targeting divs that have data toggle pop over set
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

 

    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">My Portfolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

              
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse dropdown">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>




                        <li class="nav-item">
                            <div class="Cssdropdown">
                                <button class="dropbtn" type="button" data-toggle="dropdown">Calculators<span class="caret"></span> </button>

                                <ul class="dropdown-content">
                                    <li><a asp-area="" asp-page="/Calculator">C#</a></li>
                                    <li><a asp-area="" asp-page="/JavaScriptCalc">Javascript</a></li>
                                </ul>
                            </div>


                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/AMS">AMS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/ReactWebStore">React JS Webstore</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/about">About</a>
                        </li>



                    </ul>





                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Copyright 2019 Dmitriy  Visit My <a href="https://github.com/dim505">Github</a> or <a href="https://www.linkedin.com/in/dmitriy-komerzan-4538a9b7">Linkedin</a> 


</div>
    </footer>

    <environment include="Development">
        
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
