/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

.navbar-nav {
  justify-content: flex-end;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
/*containment div for draggable javascript calc*/
#containment {
height: 100vh;
width:100%;


}
/*div styling for javascript calc */
#draggable {
	display: table;
	border:solid black 1px;
	border-radius: 5px;
	padding: 20px;
	transition: 0.3s;
	
}
/*div styling for border of javascript calc w/ mouse hover*/
#draggable:hover {
	cursor: all-scroll;
	border: 2px solid red;

}

/* styling for  text on home page*/ 
#IndexDivText {
	width:100%; 
	text-align:right;
	z-index:2;
	
	
}
/*more javascript calc styling*/

#display {
    border: 1px solid gray;
    border-radius: 5px;
	text-align:right;
	background-color: white;

}

.btn {
	
	width:100%;
	
	
}
/*styling to center images */ 
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.centerimg:hover {
	    border-style: solid;
  border-color: red;
	
	
}


/* styling for drop down */ 

.Cssdropdown {
  float: left;
  overflow: hidden;
}

.Cssdropdown .dropbtn:hover {
	color:red;	
	transition: color 400ms linear;
}
.Cssdropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 8px;
  padding-right:16px;
  background-color: white;
  font-family: inherit;
  margin: 0;

}

.caret {
  content: '';
  top: 20px;
  margin-left: 3px;
  position: absolute;
  border-top: 5px solid #1b1616;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding-left: 10px;
}

.dropdown-content a {
	color:black;
	display: block;
	
}

.dropdown-content a:hover {
	color:red;
	display: block;
    transition: color 400ms linear;
}


.Cssdropdown:hover .dropdown-content {
  display: block;

}


/* styling for the C# calculator */ 
.title{ 
 margin-bottom: 10px; 
 text-align:center; 
 width: 210px; 
 color:blue; 
 border: solid black 3px; 
 } 

.calc table {
	width:210px;	
}

.calc td input[type=submit] 
 { 
	
 background-color:blue; 
 color: white; 
 border: solid black 2px; 
 width:100%; 
 } 

.calc td input[type=text]
 { 
 background-color:white; 
 border: solid black 2px; 
 width:100%; 
 } 

 /*override Bootstrap css for nav buttons*/
 .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{
	 color:red;
	 transition: color 400ms linear;
	 
 }
 
 
 .navbar-light .navbar-nav .nav-link {
	 color:black;
	 
	 
 }
 
 /*additional styling for carousel on AMS page*/ 
.AMS .carousel-control-prev-icon,
.AMS .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 3px solid black;
  background-image: none;
}

.AMS .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.AMS .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}


.AMS .carousel-caption {
	color: black;
	border: 3px solid;
}


.AMS .carousel-indicators li {
	background-color: black;

}

.AMS .carousel-item img {
	width: 1290px;

	
	
}

.blockquote-footer {
	font-size:100%;
	
	
}

/*make all text center on AMS page */ 

.AMS p, .AMS h4, .AMS h1  {
	
	text-align: center;
	
}

/*styling for mini picture carousel on AMS page */ 
.AMS .owl-stage-outer img{
	height: 380px;
	width: 350px;
	
	
}

/* set body to display none for the fade effects to work correctly */
body {
	display: none;
	
	
	
	
}

/*styling for website preloader */

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../RegularPics/preload.gif');
   background-repeat: no-repeat; 
   background-color: white;
   background-position: center;
   display: none;
  
}




