@page
@model MyApp.Namespace.ReactJsWeatherAppModel
@{
}


@{
    ViewData["Title"] = "React JS Weather App";

}







<div class="text-right">

    <h2 class="display-4 mb-0">Please see the begininngs of my React JS Weather App. </h2>

</div>




<div class="text-right">
    <h3 class="blockquote-footer">The application is now<a href="https://reactjstictacandweatherap.azurewebsites.net/"> live!!</a> Please see my code below! </h3>


    <a href="https://github.com/dim505/SmallReactApps"><img src="~/RegularPics/githublogo.png" title="Click Me to See Code" alt="github logo" class="centerimg"></a>




</div>








