@page
@model MyApp.Namespace.ReactJsWeatherAppModel
@{
}


@{
    ViewData["Title"] = "React JS Weather App";

}







<div class="text-right">

    <h2 class="display-4 mb-0">Please see my React JS Weather App. </h2>

</div>




<div class="text-right">
    <h3 class="blockquote-footer">
        The application is now <a href="https://reactjstictacandweatherap.azurewebsites.net/" target="_blank"> live!!</a>
        My weather app connects with Open Weather Maps API to get the weather information and Google Maps API to get the map.
        Currently, it gets the current weather and the 5 day hourly forcast of a city using the city name and ISO code (country code). It also supports geolocation. When first visiting the site for the first time,
        please click allow when it requests your location for geolocation to work correctly.
        Please click on the GITHUB picture below to see my code or the LIVE picture to see my app live!
    </h3>



    <div class="wrapper">   

        <div class="ImgOverLaycontainer">
            <a href="https://github.com/dim505/SmallReactApps" target="_blank">
                <img src="~/RegularPics/githublogo.png" title="Click Me to See Code" alt="github logo" class="centerimg">
                <div class="overlay">
                    <h1 class="imgText"> Please Click Here to See My Code </h1>
                </div>
            </a>
        </div>


        <div class="ImgOverLaycontainer">
            <a href="https://reactjstictacandweatherap.azurewebsites.net/" target="_blank">
                <img src="~/RegularPics/Live.png" title="Click Me to See App live" alt="Live logo" class="centerimg">
                <div class="overlay">
                    <h1 class="imgText"> Please Click Here to See My Application Live </h1>
                </div>
            </a>
        </div>
    </div>


    




</div>








