@page
@model MyApp.Namespace.ReactWebStoreModel
@{
}

@{
    ViewData["Title"] = "React JS Webstore";

}


<div class="text-right">

    <h2 class="display-4 mb-0">Please see the begininngs of my React JS Webstore. </h2>

</div>




<div class="text-right">
    <h3 class="blockquote-footer">The application is now <a href="https://reactwebstore.azurewebsites.net/"> live!!</a> Please click on the pictures below to see my code or app live! (Please note I paused development to work on Tic Tac Toe app) </h3>

    <div class="wrapper">
        <div>
            <a href="https://github.com/dim505/ReactWebStore"><img src="~/RegularPics/githublogo.png" title="Click Me to See Code" alt="github logo" class="centerimg"></a>
        </div>
        <div>
            <a href="https://reactwebstore.azurewebsites.net/"><img src="~/RegularPics/Live.png" title="Click Me to See the App live" alt="Live logo" class="centerimg"></a>
        </div>
    </div>
    </div>






