@page
@model MyApp.Namespace.ReactWebStoreModel
@{
}

@{
    ViewData["Title"] = "Social Media";

}

<script>

    $(document).ready(function () {


        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);




        $('#myModal').on('shown.bs.modal', function (e) {
            $('[data-toggle="popover"]').popover('dispose')


            $("#video").attr('src', $videoSrc);
            $("#video").removeClass("progressive__img progressive--not-loaded").addClass("progressive__img progressive--is-loaded");

        })






        $('#myModal').on('hide.bs.modal', function (e) {

            $("#video").attr('src', $videoSrc);
            $('[data-toggle="popover"]').popover()



        })








        $(".owl-carousel").owlCarousel({
            //keeps carousel automaticly playing upon load
            autoplay: true,
            //The number of items you want to see on the screen.
            items: 4,
            //centers picture works well with odd number of pictures
            center: true,
            //restartes carousel once it gets to last picture
            loop: true,
            //determines margin-right on picture
            margin: 10,
            // this Shows next/prev buttons
            nav: true,
            //hows the number of active pictures based on screen res. makes it responsive
            responsive: {
                200: {
                    items: 1
                },
                800: {
                    items: 2
                },

                1000: {
                    items: 3
                }

            }
        });

        //code to initialize the zoom in for the ams gallery
        $('.zoom-gallery').magnificPopup({
            // the selector for gallery item
            delegate: 'a',
            //specifies pop up type
            type: 'image',

            //puts close BTN in couner of page instead of near the picture
            closeBtnInside: false,
            //classes used for  CSS animation
            mainClass: 'mfp-with-zoom mfp-img-mobile',

            image: {
                //Fits image in area vertically
                verticalFit: true,
                //gets title and displays it at botton of pic
                titleSrc: function (item) {
                    //gets img title
                    return item.el.attr('title')
                }
            },
            //gallery allows you yo switch the content of the popup and adds navigation arrows.
            gallery: {
                //enables gallery option
                enabled: true
            },
            //enables the zoom effect when pictures are clicked
            zoom: {
                //enables zoom option
                enabled: true,
                //// duration of the effect, in milliseconds
                duration: 300,
                //looks for the img element to zoom into
                opener: function (element) {
                    return element.find('img');
                }
            }

        })

    });



</script>


<div class="text-right">

    <h2 class="display-4 mb-0">Please see my Social Media Web App. </h2>

</div>


<div class="text-center">
    <h3 class="blockquote-footer text-right">
        My application is now <a href="https://socialmediafrontend.azurewebsites.net/"> live!!</a>

    </h3><h1> Technical information:  </h1>
    <p>
        1) It has a React JS front end, an ASP.Net API for the back-end and it is connected to a SQL database hosted in Azure.
        Currently, it features various aspects from the Material UI Framework.
    </p>

    <p>
        2) It stores the image and videos to Azure Blob storage.
    </p>


    <p>
        3) Also, it uses Auth0 for authentication as a service. Auth0 helps me handle the complexity of authentication and authorization for my social media app. It helps me determine who is a valid user and who can access
        restricted parts of the website.
    </p>

    <p>
        4) Using Azure computer vision, I am able to upload photos and have them automaticly be tagged in the posts.
    </p>

    <h1> Non technical information:  </h1>
    <p>
        1) You are able to like/edit/add/delete/share posts, edit/add/delete comments, and attach images and videos to the posts. Lastly, you will receive notifications of people following you.
    </p>
    <p>
        2) Upload your profile and banner photos. Edit account information, and view some quick profile statistics on your account like the number of posts you liked, number of followers, and the number of people you are following.
    </p>
    <p>
        3) View a list of suggested people to follow, follow people, view followers and following and view other peoples profiles/information.
    </p>
    <p>
        4) Search post content and other users. This web app is mobile optimized.
    </p>

    <p>
        5) Speech to text is now supported (only on Google Chrome). When you add a post/comment, you can now talk out your new post/comment.
    </p>


    <p>
        6) Meessage your followers though the messenger app. You can send messages, add attachments and emojis. If you are following a person and they follow you, you can message them.
        You can all search though the list of coversations you had, and compose new messages.
    </p>

    <p>
        7) Now I am working on enabling users call each other via the phone and video chat each other.
    </p>

    <p>
        Please click on the Github picture to see my code or my live picture to see the app live!!
    </p>





    <div class="ui-widget-content" data-toggle="popover" data-placement="top" data-content="CLICK ON ME!!" data-trigger="hover">
        <div class="zoom-gallery">

            <div class="owl-carousel owl-theme owl-loaded owl-drag">





                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1806px, 0px, 0px); transition: all 0s ease 0s; width: 7226px;">






                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (1).JPEG" title="Logging In">
                                    <div><img src="~/SocialMedia/SM (1).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (2).JPEG" title="Logging In">
                                    <div><img src="~/SocialMedia/SM (2).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (3).JPEG" title="Logging In">
                                    <div><img src="~/SocialMedia/SM (3).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (4).JPEG" title="Logging In">
                                    <div><img src="~/SocialMedia/SM (4).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (5).JPEG" title="Adding a Post">
                                    <div><img src="~/SocialMedia/SM (5).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (6).JPEG" title="Attaching a Image">
                                    <div><img src="~/SocialMedia/SM (6).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (7).JPEG" title="Attaching a Image">
                                    <div><img src="~/SocialMedia/SM (7).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (8).JPEG" title="Enabling speech to text">
                                    <div><img src="~/SocialMedia/SM (8).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (9).JPEG" title="Enabling speech to text">
                                    <div><img src="~/SocialMedia/SM (9).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (10).JPEG" title="Submitting Post">
                                    <div><img src="~/SocialMedia/SM (10).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (11).JPEG" title="View Profile Page - see stats, edit account information">
                                    <div><img src="~/SocialMedia/SM (11).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (12).JPEG" title="Seeing your own posts">
                                    <div><img src="~/SocialMedia/SM (12).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (13).JPEG" title="Viewing people who are following you">
                                    <div><img src="~/SocialMedia/SM (13).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (14).JPEG" title="Viewing the people suggestion page">
                                    <div><img src="~/SocialMedia/SM (14).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (15).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (15).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (16).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (16).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (17).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (17).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (18).JPEG" title="see who is following you">
                                    <div><img src="~/SocialMedia/SM (18).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (19).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (19).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (20).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (20).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (21).JPEG" title="Unfollowing someone">
                                    <div><img src="~/SocialMedia/SM (21).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (22).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (22).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (23).JPEG" title="Following someone">
                                    <div><img src="~/SocialMedia/SM (23).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (24).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (24).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (25).JPEG" title="Viewing someone elses profile">
                                    <div><img src="~/SocialMedia/SM (25).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (26).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (26).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (27).JPEG" title="Viewing Account stats">
                                    <div><img src="~/SocialMedia/SM (27).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (28).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (28).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (29).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (29).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (30).JPEG" title="View Comments">
                                    <div><img src="~/SocialMedia/SM (30).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (31).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (31).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (32).JPEG" title="Enabling speech to text on those comments">
                                    <div><img src="~/SocialMedia/SM (32).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (33).JPEG" title="adding comment">
                                    <div><img src="~/SocialMedia/SM (33).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (34).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (34).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (35).JPEG" title="Like Post">
                                    <div><img src="~/SocialMedia/SM (35).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (36).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (36).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (37).JPEG" title="Disable Comments">
                                    <div><img src="~/SocialMedia/SM (37).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (38).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (38).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (39).JPEG" title="Disable sharing">
                                    <div><img src="~/SocialMedia/SM (39).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (40).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (40).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (41).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (41).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (42).JPEG" title="Share Post">
                                    <div><img src="~/SocialMedia/SM (42).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (43).JPEG" title="Share Post">
                                    <div><img src="~/SocialMedia/SM (43).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (44).JPEG" title="Share Post">
                                    <div><img src="~/SocialMedia/SM (44).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (45).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (45).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (46).JPEG" title="Edit Post">
                                    <div><img src="~/SocialMedia/SM (46).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (47).JPEG" title="Update Post">
                                    <div><img src="~/SocialMedia/SM (47).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (48).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (48).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (49).JPEG" title="Delete Post">
                                    <div><img src="~/SocialMedia/SM (49).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (50).JPEG" title="Delete Post">
                                    <div><img src="~/SocialMedia/SM (50).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (51).JPEG" title="Delete Post">
                                    <div><img src="~/SocialMedia/SM (51).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (52).JPEG" title="Edit Account Information">
                                    <div><img src="~/SocialMedia/SM (52).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (53).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (53).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (54).JPEG" title="Update Banner photo">
                                    <div><img src="~/SocialMedia/SM (54).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (55).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (55).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (56).JPEG" title="update profile photo">
                                    <div><img src="~/SocialMedia/SM (56).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (57).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (57).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (58).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (58).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (59).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (59).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (60).JPEG" title="Clicking on a conversation">
                                    <div><img src="~/SocialMedia/SM (60).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (61).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (61).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (62).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (62).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (63).JPEG" title="Sending a chat">
                                    <div><img src="~/SocialMedia/SM (63).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (64).JPEG" title="Adding an attachment">
                                    <div><img src="~/SocialMedia/SM (64).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (65).JPEG" title="Adding an attachment">
                                    <div><img src="~/SocialMedia/SM (65).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (66).JPEG" title="Adding an attachment">
                                    <div><img src="~/SocialMedia/SM (66).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (67).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (67).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (68).JPEG" title="Compose a new message">
                                    <div><img src="~/SocialMedia/SM (68).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (69).JPEG" title="selecting the person">
                                    <div><img src="~/SocialMedia/SM (69).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (70).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (70).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (71).JPEG" title="Search key words in posts">
                                    <div><img src="~/SocialMedia/SM (71).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (72).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (72).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (73).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (73).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (74).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (74).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (75).JPEG" title="You can also search people">
                                    <div><img src="~/SocialMedia/SM (75).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (76).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (76).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (77).JPEG" title="Get notifications of people following you">
                                    <div><img src="~/SocialMedia/SM (77).JPEG"> </div>
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 291.067px; margin-right: 10px;">
                            <div class="item">
                                <a href="~/SocialMedia/SM (78).JPEG" title="">
                                    <div><img src="~/SocialMedia/SM (78).JPEG"> </div>
                                </a>
                            </div>
                        </div>









                    </div>
                </div>


            </div>
        </div>




    </div>





</div>







<div class="wrapper">

    <div class="ImgOverLaycontainer">
        <a href="https://github.com/dim505/SocialMedia" target="_blank">
            <img src="~/RegularPics/githublogo.png" title="Click Me to See Code" alt="github logo" class="centerimg">
            <div class="overlay">
                <h1 class="imgText"> Please Click Here to See My Code </h1>
            </div>
        </a>
    </div>


    <div class="ImgOverLaycontainer">
        <a href="https://socialmediafrontend.azurewebsites.net/" target="_blank">
            <img src="~/RegularPics/Live.png" title="Click Me to See App live" alt="Live logo" class="centerimg">
            <div class="overlay">
                <h1 class="imgText"> Please Click Here to See My Application Live </h1>
            </div>
        </a>
    </div>
</div>



