@page
@model WebApp.Page.aboutModel
@{
    ViewData["Title"] = "About Me";
}

<h1>A little Introduction </h1>

<p> Hello, My name is Dmitriy. I'm a motivated technology enthusiast that is eager to become a software developer that graduated with a Bachelors of Science in Computer Information Systems. Professional experience includes providing software and hardware support, website management, Powershell automation, and SQL Report writing. This is the begining of my portfolio. Stick around while I experiment with ASP .Net Core. </p> 


<p> 
    So far my projects have touched upon these technologies:
    <ul>
        <li>ASP.Net Razor Pages </li>
        <li>HTML </li>
        <li>CSS </li>
        <li>Javascript </li>
        <li>Jquery </li>
        <li>Bootstrap </li>
        <li>VB.Net </li>
        <li>C#</li>
        <li>SQL </li>
        
    </ul>
   </p>