@page
@model WebApp.Page.aboutModel
@{
    ViewData["Title"] = "About Me";
}

<h1>A little Introduction </h1>

<p>This is the begining of my portfolio. Stick around while I experiment with ASP .Net Core with Razor pages. </p>