@page
@model MyApp.Namespace.CalculatorModel
@{
    ViewData["Title"] = "Calculator";
}

<h1>Here is my Calcualtor! Written in C#,HTML and CSS</h1>



<form method="post">


    <div class="title">C# Calculator</div>

    <table border="1" class="calc">
        <tr>
            <td colspan="3"><input asp-for="ResultInfo" /></td>

            <td><input type="submit" value="c" asp-page-handler="Calculate" asp-route-BtnVal="C" /> </td>
        </tr>
        <tr>

            <td><input type="submit" value="1" asp-page-handler="Calculate" asp-route-BtnVal="1" /> </td>
            <td><input type="submit" value="2" asp-page-handler="Calculate" asp-route-BtnVal="2" /> </td>
            <td><input type="submit" value="3" asp-page-handler="Calculate" asp-route-BtnVal="3" /> </td>
            <td><input type="submit" value="/" asp-page-handler="Calculate" asp-route-BtnVal="/" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="4" asp-page-handler="Calculate" asp-route-BtnVal="4" /> </td>
            <td><input type="submit" value="5" asp-page-handler="Calculate" asp-route-BtnVal="5" /> </td>
            <td><input type="submit" value="6" asp-page-handler="Calculate" asp-route-BtnVal="6" /> </td>
            <td><input type="submit" value="-" asp-page-handler="Calculate" asp-route-BtnVal="-" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="7" asp-page-handler="Calculate" asp-route-BtnVal="7" /> </td>
            <td><input type="submit" value="8" asp-page-handler="Calculate" asp-route-BtnVal="8" /> </td>
            <td><input type="submit" value="9" asp-page-handler="Calculate" asp-route-BtnVal="9" /> </td>
            <td><input type="submit" value="+" asp-page-handler="Calculate" asp-route-BtnVal="+" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="." asp-page-handler="Calculate" asp-route-BtnVal="." /> </td>
            <td><input type="submit" value="0" asp-page-handler="Calculate" asp-route-BtnVal="0" /> </td>

            <td><input type="submit" value="=" asp-page-handler="Calculate" asp-route-BtnVal="=" /> </td>
            <td><input type="submit" value="*" asp-page-handler="Calculate" asp-route-BtnVal="*" /> </td>
        </tr>
    </table>

</form>