@page
@model MyApp.Namespace.JavaScriptCalcModel
@{
}


<script>

    //$(document).ready(function () {
    $(function () {

        var sPositions = localStorage.positions || "{}",
            positions = JSON.parse(sPositions);
        $.each(positions, function (id, pos) {
            $("#" + id).css(pos);
        });
        $("#draggable").draggable({
            containment: "#containment",
            scroll: false,
            stop: function (event, ui) {
                positions[this.id] = ui.position;
                localStorage.positions = JSON.stringify(positions);
            }
        });



    });
     //   });



    function btn1() { document.getElementById("display").value += "1" };
    function btn2() { document.getElementById("display").value += "2" };
    function btn3() { document.getElementById("display").value += "3" };
    function btn4() { document.getElementById("display").value += "4" };
    function btn5() { document.getElementById("display").value += "5" };
    function btn6() { document.getElementById("display").value += "6" };
    function btn7() { document.getElementById("display").value += "7" };
    function btn8() { document.getElementById("display").value += "8" };
    function btn9() { document.getElementById("display").value += "9" };
    function btn0() { document.getElementById("display").value += "0" };
    function btnMulti() { document.getElementById("display").value += "*" };
    function btnSub() { document.getElementById("display").value += "-" };
    function btnAdd() { document.getElementById("display").value += "+" };
    function btnEq() { document.getElementById("display").value += "=" };
    function btnDec() { document.getElementById("display").value += "." };
    function btnC() { document.getElementById("display").value = "" };
</script>



<h1>Here is my Javascript Calculator! Written in Javascript,HTML and CSS</h1>


<div id="containment">
    <div id="draggable" class="ui-widget-content">
        <form>

            <table>
                <tr>
                    
                    <td colspan="4">

                        <input name="display" id="display" value=""> 

                    </td>
                    
                    
                 </tr>
                <tr>

                    <td> <input type="button" class="btn"  value="7" onclick="btn7()"></td>
                    <td> <input type="button" class="btn"  value="8" onclick="btn8()"></td>
                    <td> <input type="button" class="btn"  value="9" onclick="btn9()"></td>
                    <td> <input type="button" class="btn"  value="x" onclick="btnMulti()"></td>

                </tr>


                <tr>

                    <td> <input type="button" class="btn"  value="4" onclick="btn4()"></td>
                    <td> <input type="button" class="btn"  value="5" onclick="btn5()"></td>
                    <td> <input type="button" class="btn"  value="6" onclick="btn6()"></td>
                    <td> <input type="button" class="btn"  value="-" onclick="btnSub()"></td>


                </tr>

                <tr>



                    <td> <input type="button" class="btn"  value="1" onclick="btn1()"></td>
                    <td> <input type="button" class="btn"  value="2" onclick="btn2()"></td>
                    <td> <input type="button" class="btn"  value="3" onclick="btn3()"></td>
                    <td> <input type="button" class="btn"  value="+" onclick="btnAdd()"></td>


                </tr>

                <tr>

                    <td> <input type="button" class="btn"  value="." onclick="btnDec()"></td>
                    <td> <input type="button" class="btn"  value="0" onclick="btn0()"></td>
                    <td> <input type="button" class="btn"  value="C" onclick="btnC()"></td>
                    <td> <input type="button" class="btn"  value="=" onclick="btnEq()"></td>



                </tr>





            </table>






        </form>

    </div>

</div>





